* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*Navigation Bar Styling*/
/*Nav Menu styling*/
#nav-menu {
  width:100%;
  height: auto;
  background: #F2F9FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  box-shadow: 0.5px 0.5px 0.5px 0.5px #D4F6FF;*/
  padding: 10px;
  color: black;
  font-size: 2rem;
  position: sticky;
  top: 0;
}

/*nav-box-container styling*/
.nav-box-container {
  max-width:500px;
  height: auto;
}

/*nav-menu-container styling*/
.nav-menu-container {
  width:100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-menu-container > li {
	margin-left:10px;
    list-style-type: none;
}

.nav-menu-container > li > a {
	font-size: 2rem;
	text-decoration: none;
	padding:3px;
	border-radius: 3px;
	font-weight: bold;
	color:#295F98;
	color:transparent;
	background: linear-gradient(45deg, #0079FF, #072541);
-webkit-background-clip: text;
background-clip: text;
} 

.nav-menu-container > li > a:hover {
	color:#4793AF;
	background-color:#9DBDFF ;
}

.menus {
	width:40px;
	height: auto;
/*	border:1px solid black;*/
	display: none;
}

.menus > div {
	width:100%;
	height: 5px;
/*	border:1px solid blue;*/
	background-color: #0081D1;
	margin-top: 5px;
/*	display: none;*/
}

#menu-items {
	width:80vw;
	min-height: 100vh;
	position: fixed;
	z-index: 1000;
	top:0;
	left:0;
/*	border:1px solid red;*/
/*	background-color: #FFF4EA;*/
/*	background-color: #FBFBFB;*/
	background-color: #FBFBFB;
	background-color: #F4F6FF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

#menu-items > .close-menu-container {
	width:100%;
	height: 100px;
/*	border:1px solid black;*/
/*	position: fixed;*/
/*	top: 0;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu-logo {
	max-width:100px;
	height: 80px;
}

.menu-lists-container {
	width:100%;
	height: auto;
/*	border:1px solid black;*/
	display: flex;
	justify-content: center;

}

#close-menu {
	width:30px;
	height: 30px;
	background-color: #E8F9FF;
/*	border:1px solid black;*/
}

#close-menu-icon {
	width: 100%;
	height: 100%;
}

.nav-menus-container {
  width:300px;
  height: 400px;
/*  border:1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-menus-container > li {
	margin-top: 30px;
/*	text-decoration: underline;*/
	text-decoration-thickness: 1px;
}

.nav-menus-container > li > a {
	text-decoration: none;
	margin: 10px;
	font-size: 1.8rem;
	font-weight: bold;
	color:#1679AB;
}



.nav-menus-container > li > a:active {
  color: white;
  background-color: #2C4E80;
  padding: 8px;
  border-radius: 4px;
}

#whatsapp-icon-container {
	width:80px;
	height: 80px;
	position: fixed;
	bottom: 20px;
	right: 10px;
}

#whatsapp-icon {
	width: 100%;
	height: 100%;
}

/*logo styling*/
.logo {
  max-width:80px;
  height: 80px;
  margin-right: 20px;
}

#name {
 color:#0A97B0;
 color:transparent;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(45deg, #D04848, #0079FF);
 -webkit-background-clip: text;
 background-clip:text;
/* text-shadow: 1px 1px 1px #0A97B0;*/
/* text-decoration-style: wavy;*/
}

#profession {
/* color:#F96E2A;*/
/* color:#6439FF;*/
 color:#0766AD;
 color:transparent;
 font-family: "Gill Sans", sans-serif, cursive;
 background: linear-gradient(45deg, #0079FF, #D04848);
 -webkit-background-clip: text;
 background-clip:text;
/* text-shadow: 1px 1px 1px #0766AD;*/
/* text-decoration-style: wavy;*/
/* text-decoration-color: blue;*/
}

/*main section styling*/
/*main-content-container styling*/
#main-content-container {
  width:100%;
  height: auto;
}

/*home-section-container styling*/
.home-section-container {
  width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
/*  border: 1px solid black;*/
 background: url('./images/bg.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/*home-content-container styling*/
.home-content-container {
  max-width:600px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
/*  border:1px solid black;*/
}

.home-content-container > h1 {
	color:#176B87;
/*	font-style: italic;*/
/*	font-family: cursive fantasy;*/
	font-size: 5rem;
}


/*cta-btn styling*/
#cta-btn {
 width:auto;
 height: auto;
 padding:5px;
 background-color: #0081D1;
 color:white;
 border:none;
 border-radius: 5px;
 font-size: 1.6rem;
 padding:10px;
 margin-top: 20px;
 outline:none;
 box-shadow: 0.5px 0.5px 0.5px 0.5px #9AA6B2;
 font-weight: bold;
}

.call-cta {
	color:white;
	text-decoration: none;
}

/*home-logo styling*/
/*#home-logo {
  max-width:800px;
  height: 400px;
 border:1px solid black;
}*/

	.home-logo-container {
		max-width:800px;
		height: auto;
/*		border:1px solid black;*/
	}

	#home-logo {
	  max-width:100%;
	  height: auto;
	  border:none;
	}

/*about-section  styling*/
#about {
	max-width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size:1.8rem;
	font-weight:bold;
	font-family: Georgia, Roboto, sans-serif;
	color: transparent;
/*	background-color: #0081D1; */
background: linear-gradient(45deg, #D04848, #0081D1);
-webkit-background-clip: text;
background-clip: text;
/*	color:#D04848;*/
	padding: 10px;
   margin-top: 30px;
}

/*about-container styling*/
.about-container {
	max-width:100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
   padding: 10px;
   margin-top: 30px;
/*    border:1px solid black;*/
}

.about-logo-container {
	width:600px;
	height: auto;
/*	border:1px solid blue;*/
}

/*about-logo styling*/
#about-logo {
 width:100%;
 height: 400px;
/* border:1px solid black;*/
/* box-shadow: 1px 1px 5px 1px #D1E9F6;*/
 margin-bottom: 10px;
}

/*about-content-container styling*/
.about-content-container {
  max-width:500px;
  height: auto;
  padding:20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
/*  border-top: 0.6px solid grey;*/
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
/*  margin-left: 150px;*/
  text-align: center;
/*  border:1px solid black;*/
  word-break: break-word;
/*  background-color: #FFFADD;*/
  background-color: #FBFBFB;
/*  background: url('./images/bg2.png');*/
/* background-position: center;*/
/* background-repeat: no-repeat;*/
/* background-size: cover;*/
  box-shadow: 0.5px 0.5px 0.5px 0.9px #9AA6B2;
}

#about-horizontal {
	width:400px;
	height: 1px;
	background-color: black;
	display: none;
}

.about-content-container > h1 {
	color:#3572EF;
	font-family: monospace fantasy;
	font-size: 3rem;
	text-decoration: underline;
	text-decoration-color: #295F98;
	text-decoration-thickness: 1px;
	color:transparent;
 background: linear-gradient(45deg, #0079FF, #AB46D2);
 -webkit-background-clip: text;
background-clip: text;
}

.about-content-container > h3 {
	color:#577BC1;
	text-decoration: underline;
	text-decoration-color: #295F98;
	text-decoration-thickness: 1px;
	font-family: sans-serif cursive;
	font-size: 1.5rem;
}

.about-content-container > p {
	color:#1F509A;
	font-size: 1.2rem;
}

/*service-section styling*/
.service-section {
  text-align: center;
  background-color: #0081D1;
  color:white;
  font-weight:bold;
	font-family: Georgia, Roboto, sans-serif;
	color: transparent;
/*	background-color: #0081D1; */
background: linear-gradient(45deg, #D04848, #0081D1);
-webkit-background-clip: text;
background-clip: text;
font-size: 1.8rem;
  margin-top: 30px;
  padding: 10px;
}

/*service-container styling*/
.service-container {
  width:100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 15px;
}

/*service-content-container styling*/
.service-content-container {
 width:330px;
 height: 330px;
/* border:1px solid blue;*/
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-direction: column;
 background-color: #FBFBFB;
 background-color: #F2F9FF;
 background-color: #F4F6FF;
 color:#2E5077;
 border:none;
 outline:none;
 border-radius: 30px;
 box-shadow: 0.5px 0.5px 0.5px 0.9px #9AA6B2;
 padding: 5px;
 margin:10px;
}

.service-img-container {
	max-width: 200px;
	height: 200px;
}

.service-content-container > h2 {
	font-weight: bolder;
	background-color: #FFF6B3;
}

/*service-image styling*/
.service-image {
 max-width:100%;
 height: 100%;
}

/*contact-section styling*/
#contact {
  width:100%;
  text-align: center;
  background-color: #0081D1;
  color:white;
  font-weight:bold;
	font-family: Georgia, Roboto, sans-serif;
	color: transparent;
/*	background-color: #0081D1; */
background: linear-gradient(45deg, #D04848, #0081D1);
-webkit-background-clip: text;
background-clip: text;
font-size: 1.8rem;
  padding: 10px;
  margin-top: 30px;
}

/*contact-container styling*/
.contact-container {
 width:100%;
 height: auto;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 padding: 15px;
 text-align: center;
 margin-top: 30px;
}

.contact-container > h2 {
	color:#3E5879;
}

.map-container {
	width:100%;
	height: auto;
/*	padding: 5px;*/
	margin-top: 30px;
/*	border:1px solid black;*/
}

#map {
	width:100%;
	height: 400px;
}

/*footer-container styling*/
#footer-container {
 width:100%;
 height: auto;
 display: flex;
 flex-direction: column;
 padding: 20px;
 background-color: #205373;
 color: white;
 margin-top: 20px;
}

/*footer-first-container styling*/
.footer-first-container {
 width:100%;
 height: auto;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 font-size: 1.6rem;
/* border: 1px solid yellow;*/
 margin-top: 10px;

}

/*footer-logo-container styling*/
.footer-logo-container {
 max-width:200px;
 height: 140px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
/* border:1px solid white;*/
}

#footer-logo {
	max-width:100px;
	height: 100px;
}

/*footer-content-container styling*/
.footer-content-container {
  width:70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
/*  border:1px solid violet;*/
}

/*footer-sub-container styling*/
.footer-links-container {
 width:400px;
 height: auto;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
/* border:1px solid red;*/
}

.footer-sub-container > h5 {
	font-family: "Gill Sans", sans-serif;;
}

/*footer-nav-menu-container styling*/
.footer-nav-menu-container {
 list-style: none;
}

.footer-nav-menu-container > li {
	margin:5px;
}

.footer-nav-menu-container > li > a {
	text-decoration: none;
	border-bottom: 1px solid white;
	color:white;
}

.footer-nav-menu-container > li > a:hover {
   color:lightskyblue;
}

#copyright-sign {
	font-weight: bold;
	font-size: 0.8rem;
}

/*follow-box-container styling*/
.follow-box-container {
  max-width:200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
/*  border:1px solid white;*/
/*  margin-top: 10px;*/
}

.follow-box-container  > h5 {
/*	font-size: 1rem;*/
/*font-family: "Gill Sans", sans-serif;;*/
}

.social-links-container {
	width: 100%;
	height: auto;
	text-align: center;
/*	border:1px solid white;*/
	margin-top: 10px;
}

/*social-links styling*/
.social-links {

}

#quick-contact {
	max-width: 400px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
/*	border:1px solid white;*/
}

.quick-contact-contents {
	width:100%;
	height: auto;
/*	border:1px solid yellow;*/
/*	justify-content: center;*/
/*	align-items: center;*/
}

#quick-contact > h5 {
/*	margin:auto;*/
	margin-bottom: 5px;
}

.icon-container {
 max-width:100%;
 height: auto;
 display: flex;
 justify-content: flex-start;
 align-items: center;
/* border: 1px solid white;*/
/* margin:4px;*/
 word-break: break-word;
}

.icon {
	max-width:30px;
	height: 30px;
	margin: 5px;
}
/*social-img styling*/
.social-img {
 max-width:30px;
 height: 30px;
 margin: 1px;
}

/*footer-second-container styling*/
.footer-second-container {
	margin-top: 10px;
  text-align: center;
}

.footer-second-container > p {
	font-family:'Open Sans',sans-serif;
}

#developedby {
	text-decoration: underline;
	font-style: italic;
	color:#FBFBFB;
	font-family: 'Open Sans',sans-serif;
}

@media (max-width:518px) {
	.nav-box-container {
		display: none;
	}

	.menus {
		display: block;
	}
}


@media (max-width:400px) {
	.nav-box-container {
		display: none;
	}

		#cta-btn {
		 width:auto;
		 height: auto;
		 padding:5px;
		 background-color: #0081D1;
		 color:white;
		 border:none;
		 border-radius: 5px;
		 font-size: 1.2rem;
		 padding:10px;
		 margin-top: 20px;
		 outline:none;
     box-shadow: 0.5px 0.5px 0.5px 0.5px #9AA6B2;
		 font-weight: bold;
	}

	.home-content-container > h1 {
	 font-size: 2rem;
    }

    .follow-box-container  > h1 {
	   font-size: 1rem;
    }

    .follow-box-container  > h1 {
	  font-size: 0.4rem;
   }

   .follow-box-container {
	  width:80px;
	  height: auto;
	  display: flex;
	  flex-wrap: wrap;
	  jusatify-content: center;
	  word-break: break-word;
   }

   .home-content-container {
	  width:100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;
	}

	.home-logo-container {
		max-width:100%;
		height: auto;
	}

	#home-logo {
	  width:100%;
	  height: auto;
	  border:none;
	}

	.logo {
	  max-width:50px;
	  height: 50px;
	  margin-right: 20px;
	}

	#about {
		font-size: 0.9rem;
	}

	#services {
		font-size: 0.9rem;
	}

	#contact {
		font-size: 0.9rem;
	}

	.about-content-container > h1 {
	    font-size: 1.8rem;
	    word-break: break-word;
	}

	.about-content-container > h3 {
		font-size: 1.2rem;
	}

	.about-content-container > p {
		font-size: 1rem;
	}

	.footer-second-container > p  {
		margin-top: 10px;
		font-size: 0.8rem;
	}

	.follow-box-container  > h5 {
		font-size: 1rem;
	}

	.footer-links-container > h5 {
		font-size: 1rem;
	}

	.footer-nav-menu-container > li > a {
		font-size: 1rem;
	}

	#quick-contact > h5 {
		font-size: 1rem;
	}

	#quick-contact {
		margin-top: 10px;
	}

	.follow-box-container {
		margin-top: 10px;
	}

	.quick-contact-contents {
		font-size: 1rem;
	}

	.about-logo-container {
		width:400px;
		height: auto;
	/*	border:1px solid blue;*/
	}

		/*about-logo styling*/
		#about-logo {
		 width:100%;
		 height: auto;
		/* border:1px solid black;*/
		/* box-shadow: 1px 1px 5px 1px #D1E9F6;*/
		 margin-bottom: 10px;
		}

		#about-horizontal {
			display: none;
		}

		#whatsapp-icon-container {
			width: 50px;
			height: 50px;
		}

}